* {
    box-sizing: border-box;
}

.card {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #9f9f9f;
    border-radius: 10px;
}

#task-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 30px 0;
}

#task-form label {
    width: 100%;
}

#task-form input {
    width: calc(100% - 215px);
    margin: 0;
}
#task-form button {
    width: 200px;
    margin: 0;
}

.task-list {
    width: 100%;
    list-style: none;
    margin: 0 0 30px 0;
    padding: 0;
}

.task-list li {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #e2e2e2;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
}

.task-list li p {
    width: calc(100% - 30px);
    padding-right: 15px;
    margin-bottom: 0;
}

.task-list li:not(:last-of-type) {
    margin-bottom: 15px;
}

.delete-task {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
}

.delete-task:before {
    content: '\f00d';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    color: #fff;
}